@model IEnumerable<Day02.Models.User>
@{
    ViewData["Title"] = "Vulnerabilidades de Contrase帽as";
}


<h2>@ViewData["Title"]</h2>
<h3>Contrase&ntilde;as de usuarios que usan el metodo hash MD5</h3>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Password</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Where(x => x.Type == "MD5"))
        {
            <tr scope="row">
                <td>@item.Username</td>
                <td>@item.Password</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<h3>El peor escenario: Usuarios que usan "Encripci贸n" Base64</h3>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Password</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Where(x => x.Type == "Base64"))
        {
            <tr scope="row">
                <td>@item.Username</td>
                <td>@item.Password</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<h3>El mejor escenario: Usar un metodo de encriptaci贸n mucho m谩s fuerte.</h3>
<p>En el siguiente ejemplo usaremos AES como metodo de encriptaci贸n. Las contrase帽as son mostradas como Base64 pero al tratar de hacer Decode a estas no obtendremos informaci贸n 煤til.
     Para romper la seguridad del metodo AES necesitas tener la llave privada que se us贸 para encriptar las contrase帽as que casualmente se la qued贸 el anterior programador antes de ser despedido y terminar este ejemplo </p>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Password</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Where(x => x.Type == "AES"))
        {
            <tr scope="row">
                <td>@item.Username</td>
                <td>@item.Password</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-3">
        <p>@ViewData["Message"]</p>
    </div>
</div>